#nav-bar {
  background-color: #00a087;
  color: #eaffee;
  height: 90px;
  left: 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

#write-icon {
  float: left;
}

#nav-bar .compose {
  color: #00a087;
  background: #eaffee;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  font-size: large;
  margin-right: 3em;
  margin-top: .5em;
  padding: .7em;
  padding-bottom: 1em;
  padding-right: 50;
  padding-top: 1em;
}

#nav-bar .compose:hover {
  visibility: visible;
}

#nav-bar .compose:hover {
  border: 5px solid #eaffee;
  border-color: #00a087;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}
