
.profilePic {
  float: left;
  padding-right: 7px;
}

.tweet .handle {
  float: right;
  padding-top: 2px;
}

.tweet footer {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #bdb9b9;
  padding: 6px;
}
.tweet header {
  height: 2.5em;
  margin: 10px;
}

.tweet i {
  float: right;
  padding-right: .5em;
}


#feed .name {
  float: left;
  font-size: x-large;
  font-weight: bold;
}

#feed .tweetContent {
  background-color: white;
  height: 5em;
  padding: 5px;
  width: 100%;
  word-break: break-all;
}

#feed .tweet {
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #bdb9b9;
  margin: 10px;
  margin-left: 2em;
  margin-right: 2em;
}

#feed .tweet:hover {
  visibility: visible;
}

#feed .tweet:hover {
  border-color: black;
}
